.container{
    max-width: 900px;
    margin: 0 auto;
}
.box1, .box2{
    background-color: rgb(241, 213, 215);
    float: left;
    margin: 20px;
}
.box1{
    width: 350px;
    height: 900px;
}
.box2{
    width: 350px;
    height: 900px;
}