.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 0px;
}
.box1{
    width: 200px;
    height: 200px;
    background-color: rgb(94, 4, 71);
    margin: 20px;
    float: left;    
}
.box2{
    width: 440px;
    height: 200px;
    background-color: rgb(94, 4, 71);
    margin: 20px;
    float: left;
}
.box3, .box4, .box5{
    width: 200px;
    height: 700px;
    background-color: rgb(94, 4, 71);
    margin: 20px;
    float: left;
}