.container{
    max-width: 900px;
    margin: 0 auto;
}
.box1, .box2, .box3{
    background-color: sienna;
    float: left;
    margin: 20px;
}
.box1{
    width: 800px;
    height: 200px;
}
.box2{
    width: 280px;
    height: 700px;
}
.box3{
    width: 480px;
    height: 700px;
}