div{
    max-width: 800px;
    max-height: 1000px;
    margin: 20px;
    padding: 0px;
    float: left;
}

.box1{
    width: 200px;
    height: 900px;
    background-color: rgb(94, 4, 71);
}
.box2{
    width: 440px;
    height: 200px;
    background-color: rgb(94, 4, 71);
}
.box3, .box4{
    width: 200px;
    height: 660px;
    background-color: rgb(94, 4, 71);
}
