div{
    margin: 10px;
}
div.box1{
    width: 240px;
    height: 100px;
    background-color: rgb(255, 0, 179);
    }
div.box2{
    width: 110px;
    height: 400px;
    background-color: rgb(255, 0, 179);
    }
div.box3{
    width: 110px;
    height: 400px;
    background-color: rgb(255, 0, 179);
    }
div.box4{
    width: 110px;
    height: 520px;
    background-color: rgb(255, 0, 179);
}

