.container{
    max-width: 900px;
    margin: 0 auto;
}
.box1, .box2, .box3, .box4{
    background-color: rgb(94, 4, 71);
    float: left;
    margin: 20px;
}
.box1, .box4{
    width: 800px;
    height: 200px;
}
.box2{
    width: 250px;
    height: 480px;
}
.box3{
    width: 510px;
    height: 480px;
}