.container{
    padding: 10px;
}
.box1, .box2, .box3, .box4{
    background-color: rgb(228, 169, 243);
    margin: 10px;
}
.box1{
    width: 440px;
    height: 200px;
}
.box2{
    width: 200px;
    height: 800px;
}
.box3{
    width: 200px;
    height: 560px;
}
.box4{
    width: 200px;
    height: 560px;
}
